@model IEnumerable<DotNetLab10.Models.BasketItem>

@{
    ViewData["Title"] = "Basket";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Article.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article.PictureName)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Article.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Article.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Article.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    <img src="~/upload/@Url.Content(item.Article.PictureName)" alt="Image" style="height:50px;width:50px;" />
                </td>
                <td>
                    <a asp-action="AddToBasket" asp-route-id="@item.ArticleId">+</a>
                    <a asp-action="RemoveFromBasket" asp-route-id="@item.ArticleId">-</a>
                </td>

            </tr>
        }
    </tbody>

    <caption>Total = @ViewData["summary"]</caption>

</table>




